/* STILI GENERALI DI PAGINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2 {
    display: inline-block;;
}

.fa-solid {
    position: absolute;
    right: 0;
   
}





/* STILI MAIN */

.container {
    margin: 0 auto;
    width: 1100px;
    position: relative;
}

ul {
    margin-top: 100px;
    list-style-type:none;   
}

li{
    margin: 5px 0px 5px 0px;
    border: 1px solid black;
    background-color: lightblue;
}

.ContainerInput{
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}


a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    background-color: lightgray;
    border: 2px solid grey;
    margin-left: 20px;
}

 a:hover{
    color: white;
}


input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.complete{
    text-decoration: line-through;
    color: green;
}

.tocomplete{
    color: red;
}